# .gitignore file for PDER

data/

raw/

.idea/

word2vec_model/

notes/.ipynb_checkpoints/

metapath/

src/__pycache__/*
old_src/*

corpus/

model/

performance_WQE/

tkde14/data/
cikm13/data/

old.stuff/
